.nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px 0;
}

.banner{
    // width: 50%;
    flex: 1 1 50%;

    &-01, &-02{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png);
        padding: 0 80px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-11{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        padding-left: 12px;
        padding-right: 120px;
        row-gap: 16px;

        p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }    
    }
}

.badge{
    background-color: $primary;
    color: #fff;
    border-radius: 40px;
    padding: 6px 12px;
    vertical-align: middle;
}

.btn{
    color: $gray;
    border: solid 1px $gray;
    border-radius: 40px;
    padding: 7px 15px;
    display: inline-block;

    &:hover{
        background-color: $primary;
        color: #fff;
    }

    &-primary{
        color: $primary;
        border-color: $primary;
    }

    .bi-chevron- {

        &left {
            margin-right: 4px;
        }

        &right {
            margin-left: 4px;
        }

    }

}

.footer{
    display: flex;
    background-color: $gray-bg;
    justify-content: space-between;
    padding: 80px 312px;

    p{
        font-size: 2rem;
    }
}

.rights{
    padding: 24px 0;
    text-align: center;
    background-color: #fff;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 16px;

    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &-tag{
        display: flex;
        gap: 8px;
    }

    &-txt{
        &-box{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        color: $gray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.txt-box-gray{
    border-radius: 24px;
    background-color: #ededed;
    padding: 24px;
    font-weight: 700;
    width: 100%;
}