/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #FBFBFB;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #0027D5;
}

.a-default {
  color: #0027D5;
  text-decoration: underline;
}

h1 {
  font-size: 7.5rem;
  font-weight: 900;
  color: #0027D5;
  margin-bottom: 0.75rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}

.block {
  display: block;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.primary {
  color: #0027D5 !important;
}

.fs-lg {
  font-size: 1.75rem;
}

.fs-md {
  font-size: 1.5rem;
}

.fw700 {
  font-weight: 700;
}

.highlight {
  color: #0027D5;
  font-size: 1.5rem;
}

.mb24 {
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt16 {
  margin-top: 16px;
}

.maxw416 {
  flex: 1 1 calc(33% - 24px);
}

.container {
  width: 67.5%;
  margin: 0 auto;
  padding: 80px 0;
}
.container-narrow {
  width: 636px;
  padding: 80px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.border-secondary {
  border: solid 1px #6c757d;
}

.txt-gray {
  color: #4B4B4B;
}

br.rwd {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 24px 0;
}

.banner {
  flex: 1 1 50%;
}
.banner-01, .banner-02 {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/16da9aa899a5190ed2d5bdfe48ae1cc631b95463/2025-web-camp/desktop/index/Hero%20Section2.png);
  padding: 0 80px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  padding-left: 12px;
  padding-right: 120px;
  row-gap: 16px;
}
.banner-11 p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badge {
  background-color: #0027D5;
  color: #fff;
  border-radius: 40px;
  padding: 6px 12px;
  vertical-align: middle;
}

.btn {
  color: #4B4B4B;
  border: solid 1px #4B4B4B;
  border-radius: 40px;
  padding: 7px 15px;
  display: inline-block;
}
.btn:hover {
  background-color: #0027D5;
  color: #fff;
}
.btn-primary {
  color: #0027D5;
  border-color: #0027D5;
}
.btn .bi-chevron-left {
  margin-right: 4px;
}
.btn .bi-chevron-right {
  margin-left: 4px;
}

.footer {
  display: flex;
  background-color: #FBFBFB;
  justify-content: space-between;
  padding: 80px 312px;
}
.footer p {
  font-size: 2rem;
}

.rights {
  padding: 24px 0;
  text-align: center;
  background-color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-tag {
  display: flex;
  gap: 8px;
}
.card-txt {
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-txt-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.txt-box-gray {
  border-radius: 24px;
  background-color: #ededed;
  padding: 24px;
  font-weight: 700;
  width: 100%;
}

.banner-wrap {
  min-height: 1036px;
}
.banner-txt-box {
  position: absolute;
  top: -125px;
  left: 40%;
  padding: 80px 40px;
  background-color: #fff;
  margin-right: 80px;
}
.banner-txt-box p {
  margin-bottom: 16px;
  font-size: 1.75rem;
}

.social-media-icons {
  font-size: 1.5em;
  padding: 4px 0;
}
.social-media-icons a {
  display: inline-block;
  padding: 0 10px;
  margin-right: 4px;
}
.social-media-icons a:hover {
  transform: scale(1.2);
}
.social-media-icons a:active {
  transform: scale(0.9);
}

.product-wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 32px 0;
}
.product-box {
  max-width: 1076px;
  margin: 0 auto;
  display: flex;
}
.product-box img {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.product-moreinfo {
  font-size: 1.75rem;
  text-align: end;
}

.txt-box {
  flex: 1 1 42.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.txt-card {
  margin-left: -40px;
  padding: 24px;
  background-color: #fff;
}
.txt-card-left {
  margin-left: 0;
  margin-right: -40px;
}

.dec-line {
  position: relative;
  height: 40px;
}
.dec-line::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2.5px;
  background-color: #0027D5;
  border-radius: 40px;
  top: 18.75px;
  left: 5px;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  color: #0027D5;
  font-size: 44px;
  line-height: 1;
  cursor: pointer;
  left: -68px;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev:hover {
  transform: translateY(-50%) scale(1.1);
}
.swiper-button-prev:active {
  transform: translateY(-50%) scale(0.9);
}
@media (max-width: 1520px) {
  .swiper-button-prev {
    left: 0;
  }
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  color: #0027D5;
  font-size: 44px;
  line-height: 1;
  cursor: pointer;
  right: -68px;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-next:hover {
  transform: translateY(-50%) scale(1.1);
}
.swiper-button-next:active {
  transform: translateY(-50%) scale(0.9);
}
@media (max-width: 1520px) {
  .swiper-button-next {
    right: 0;
  }
}

.example-banner {
  justify-content: space-between;
}
.example-banner img {
  border: solid 24px #EDEDED;
  flex: 1 1 57.5%;
}
.example-txt-card-1 {
  margin-top: 29px;
  margin-left: -194px;
  max-width: 526px;
  padding: 80px 40px;
  background-color: #fff;
}
.example-txt-card-2 {
  margin: -40px 0 29px 0;
  align-self: end;
  background-color: #F5F5F5;
  max-width: 526px;
  padding: 80px 86px 80px 40px;
}
.example-list-wrap {
  display: flex;
  background-color: #F5F5F5;
  gap: 24px;
  padding: 24px;
}
.example-list-item {
  flex: 1 1 25%;
}
.example-list-item img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 16px;
}
.example-list-item h4 {
  margin-bottom: 4px;
}
.example-list-item .checkbox li {
  margin-bottom: 8px;
  color: #4B4B4B;
}
.example-list-item hr {
  margin-inline: 0;
  margin: 0 0 16px 0;
}

.subscribe-box {
  background-color: #fff;
  margin: 0 auto;
  padding: 80px;
  width: 100%;
}
.subscribe-box p {
  font-size: 20px;
  margin-bottom: 24px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subscribe-input {
  background-color: #f1f1f1;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
}
.subscribe-input::-moz-placeholder {
  color: #4B4B4B;
}
.subscribe-input::placeholder {
  color: #4B4B4B;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-box li {
  border-bottom: #000 solid 1px;
}
.contact-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.contact-item:hover {
  transform: scale(1.05);
}
.contact-item p {
  font-size: 1.75rem;
}

.blog-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  gap: 24px;
}
.blog-search {
  width: 416px;
  position: relative;
}
.blog-search input {
  padding: 16px 48px 16px 50px;
  border-radius: 40px;
  width: 100%;
}
.blog-search input::-moz-placeholder {
  color: #4B4B4B;
}
.blog-search input::placeholder {
  color: #4B4B4B;
}

.bi-search {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 24px;
  line-height: 1;
  color: #4B4B4B;
}

.page-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  max-width: 328px;
  border-radius: 40px;
  padding: 8px 20px;
}
.page-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  color: #4B4B4B;
}
.page-btn:hover {
  color: #0027D5;
  background-color: #d6e6ff;
  border-radius: 6px;
  transform: scale(1.2);
}
.page-dot {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  color: #4B4B4B;
  cursor: default;
}
.page-chevron {
  font-size: 19.5px;
  width: 24px;
  padding: 6px 0;
}

.detail-topic {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.detail-topic h3 {
  color: #0027D5;
}
.detail-topic ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.detail-topic ul li {
  padding-left: 24px;
  position: relative;
}
.detail-topic ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 4px;
  margin: 10px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #000;
}
.detail-topic-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail-topic-item h5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 4px;
}
.detail-page-btn {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .product-wrap {
    gap: 32px;
  }
  .product-box {
    flex-direction: column;
  }
  .product-moreinfo a {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .product-moreinfo i {
    font-size: 40px;
  }
  .txt-card {
    margin-left: 0;
  }
  .txt-card-left {
    margin-right: 0;
  }
  .swiper-container {
    height: 552px;
  }
  .swiper-button-prev {
    top: 100%;
    left: auto;
    right: 80px;
  }
  .swiper-button-next {
    top: 100%;
    right: 12px;
    margin-left: 24px;
  }
  .example-txt-card-1, .example-txt-card-2 {
    margin: 0;
    padding: 40px 25px;
    max-width: 100%;
    width: 100%;
  }
  .example-txt-card-1 {
    margin-bottom: 12px;
  }
  .example-list-wrap {
    flex-direction: column;
    gap: 24px;
  }
  .example-title {
    width: 60%;
  }
  .subscribe-box {
    padding: 40px 25px;
  }
  .contact-box {
    gap: 24px;
  }
  .contact-item {
    flex-direction: column;
    align-items: start;
  }
  .contact-item p {
    font-size: 1.5rem;
  }
  .blog-search {
    width: 100%;
  }
  .blog-wrap {
    flex-direction: column;
    gap: 32px;
  }
  .container, .container-narrow {
    padding: 64px 12px;
    width: 100%;
  }
  h2 {
    font-size: 3rem;
  }
  br.rwd {
    display: inline;
  }
  .banner-txt-box {
    top: -200px;
    left: 0;
    margin: 0 12px;
    padding: 40px 24px;
  }
  .banner-txt-box p {
    font-size: 1.5rem;
  }
  .h224 {
    height: 224px;
  }
  .h252 {
    height: 252px;
  }
  .banner-00 {
    aspect-ratio: 1/1;
  }
  .banner-00 img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .banner-01 {
    padding: 24px;
  }
  .banner-01 h1 {
    margin: 0;
  }
  .banner-02 {
    padding: 12px;
  }
  .banner-10 {
    aspect-ratio: 1/1;
  }
  .banner-10 img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .banner-11 {
    padding: 48px 12px;
    margin: 0;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */